In [4]:
dogs=int(input('number of dogs '))

number of dogs 4

In [5]:
type(dogs)

int

In [9]:
display(dogs)
display(dogs)

4

4

In [10]:
word='automobile'
list1=['cargo','bat','zoom']
list2=['portrait']
numeric_list=[0,1,2,3,4,5]

In [11]:
len(word)

10

In [12]:
word[0]

'a'

In [13]:
word[-1]

'e'

In [16]:
word[4:]

'mobile'

In [17]:
list1.append('archery')

In [18]:
list1

['cargo', 'bat', 'zoom', 'archery']

In [19]:
list1.remove('cargo')

In [20]:
list1

['bat', 'zoom', 'archery']

In [21]:
list1 + list2

['bat', 'zoom', 'archery', 'portrait']

In [22]:
'archery' in list1

True

In [23]:
'a' + 'b'

'ab'

In [24]:
list1+'a'

TypeError: can only concatenate list (not "str") to list

In [25]:
sum(numeric_list)

15

In [26]:
min(numeric_list)

0

In [27]:
max(numeric_list)

5

In [28]:
len(numeric_list)

6

In [30]:
numeric_list.sort(reverse=True)

In [31]:
numeric_list

[5, 4, 3, 2, 1, 0]

In [32]:
dct={'list':[1,0],'set':{1,0},'tuple':(1,0)}

In [33]:
dct.keys()

dict_keys(['list', 'set', 'tuple'])

In [34]:
dct.values()

dict_values([[1, 0], {0, 1}, (1, 0)])

In [35]:
dct.items()

dict_items([('list', [1, 0]), ('set', {0, 1}), ('tuple', (1, 0))])

In [37]:
happy = True

In [38]:
happy

True

In [39]:
type(happy)

bool

In [40]:
print(5+5==10)

True

In [41]:
'q' in 'abra'

False

In [42]:
5>4

True

In [43]:
5>4>3

True

In [61]:
(100>75 )| (9<8)

True

In [67]:
(93>80) & (2 in [1,3,4,5])

False

In [85]:
commute=35
traffic=True
rain=False

In [86]:
rain_fine=20
traffic_fine=30

In [83]:
if rain==True:
    commute+=rain_fine
elif traffic==True:
    commute+=traffic_fine
else:
    commute
print(commute)

65

In [87]:
if rain:
    commute+=rain_fine
elif traffic:
    commute+=traffic_fine
else:
    commute
print(commute)

65

In [89]:
commute=35
commute=commute+rain*rain_fine+traffic*traffic_fine*(1-rain)
commute

65

In [91]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
range(10)

range(0, 10)

In [93]:
range(4,10)

range(4, 10)

In [94]:
range(1,10,2)

range(1, 10, 2)

In [95]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [97]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for item in iterable:
    statements

In [98]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']

In [99]:
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

In [100]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

In [101]:
for age in ages:
    print(age)

Brian
Amy
Darlene
Ralph
Jordan
Stephanie

In [102]:
for age in ages.values():
    print(age)

23
22
47
32
28
35

In [103]:
for name,age in ages.items():
    print(name,age)

Brian 23
Amy 22
Darlene 47
Ralph 32
Jordan 28
Stephanie 35

In [108]:
for name,age in ages.items():
    print(name,'is',age,'y.o.')

Brian is 23 y.o.
Amy is 22 y.o.
Darlene is 47 y.o.
Ralph is 32 y.o.
Jordan is 28 y.o.
Stephanie is 35 y.o.

In [112]:
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 orange
2 banana
3 grapes
4 pineapple

In [111]:
for i in fruits:
    print(i)

apple
orange
banana
grapes
pineapple

In [116]:
for i in range(len(fruits)):
    print(i)

0
1
2
3
4

In [118]:
for ind,value in enumerate(ages):
    print(ind,value)

0 Brian
1 Amy
2 Darlene
3 Ralph
4 Jordan
5 Stephanie

In [127]:
import time

total_time=60
minutes_elapsed=0
waiting_time=15

print('Cake is in the oven. Even if it is not a cake!')
minutes_elapsed+=waiting_time

while minutes_elapsed<total_time:
    time.sleep(3)
    print('One more step and you die! Cake is not ready yet. Need mooorreee timmme')
    minutes_elapsed+=waiting_time
    
print('Come closer my dear. I have a pleasure for you...')

Cake is in the oven. Even if it is not a cake!
One more step and you die! Cake is not ready yet. Need mooorreee timmme
One more step and you die! Cake is not ready yet. Need mooorreee timmme
One more step and you die! Cake is not ready yet. Need mooorreee timmme
Come closer my dear. I have a pleasure for you...

In [128]:
x=1
x+=1
print(x)
x=+1
print(x)

2
1