# Dicts, sets and tuples

In [1]:
t=tuple()

In [2]:
t=()

In [3]:
s={}

In [4]:
type(s)

dict

In [5]:
dct=dict()

In [6]:
s=set()

In [7]:
type(s)

set

In [8]:
chocolates=('dark','milk','almond')

In [9]:
chocolates[1]

'milk'

In [10]:
choc_list=list(chocolates)

In [11]:
choc_list

['dark', 'milk', 'almond']

In [12]:
choc_list[2]='caramel filled'

In [13]:
choc_list

['dark', 'milk', 'caramel filled']

In [14]:
chocolates[2]='caramel filled'

TypeError: 'tuple' object does not support item assignment

In [15]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
almond

# Dicts

In [16]:
brands=['Lindt','Nestle','Poulain']

In [17]:
chocolates

('dark', 'milk', 'almond')

In [18]:
dct={'dark':'Lindt'}

In [19]:
dct

{'dark': 'Lindt'}

In [21]:
for i in range(len(brands)):
    print(i, brands[i], chocolates[i])

0 Lindt dark
1 Nestle milk
2 Poulain almond

In [22]:
dct={}

In [23]:
for i in range(len(brands)):
    dct[chocolates[i]]=brands[i]

In [24]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'almond': 'Poulain'}

In [25]:
dct.keys()

dict_keys(['dark', 'milk', 'almond'])

In [26]:
dct.values()

dict_values(['Lindt', 'Nestle', 'Poulain'])

In [27]:
dct.update({'Kinder':'Kinder surprise'})

In [28]:
dct

{'dark': 'Lindt',
 'milk': 'Nestle',
 'almond': 'Poulain',
 'Kinder': 'Kinder surprise'}

In [29]:
dct.update({'milk':'Milka'})

In [30]:
dct

{'dark': 'Lindt',
 'milk': 'Milka',
 'almond': 'Poulain',
 'Kinder': 'Kinder surprise'}

In [31]:
dct.update({'semi sweet':'Nestle','white':'Catberry'})

In [32]:
dct

{'dark': 'Lindt',
 'milk': 'Milka',
 'almond': 'Poulain',
 'Kinder': 'Kinder surprise',
 'semi sweet': 'Nestle',
 'white': 'Catberry'}

In [33]:
dct.remove('Kinder')

AttributeError: 'dict' object has no attribute 'remove'

In [34]:
del dct['Kinder']

In [35]:
dct

{'dark': 'Lindt',
 'milk': 'Milka',
 'almond': 'Poulain',
 'semi sweet': 'Nestle',
 'white': 'Catberry'}

In [36]:
for i,j in dct.items():
    print('The best brand for',i,'chocolate is',j)

The best brand for dark chocolate is Lindt
The best brand for milk chocolate is Milka
The best brand for almond chocolate is Poulain
The best brand for semi sweet chocolate is Nestle
The best brand for white chocolate is Catberry

In [37]:
for i in dct:
    print(i)

dark
milk
almond
semi sweet
white

In [38]:
dct2={}
for i,j in dct.items():
    dct2[j]=i
dct2

{'Lindt': 'dark',
 'Milka': 'milk',
 'Poulain': 'almond',
 'Nestle': 'semi sweet',
 'Catberry': 'white'}


# Sets

In [40]:
s=set()

In [41]:
l=[]
for i in range(-5,5):
    l.append(i)

In [45]:
l=list(range(-5,5))

In [46]:
l

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [47]:
set(l)

{-5, -4, -3, -2, -1, 0, 1, 2, 3, 4}

In [48]:
l=[]
for i in range(-5,5):
    l.append(i%2)

In [49]:
l

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [50]:
set(l)

{0, 1}

In [51]:
s1={1,2,3}
s2={2,3,4}

In [52]:
s1 and s2

{2, 3, 4}

In [53]:
s1 or s2

{1, 2, 3}

In [54]:
s1 & s2

{2, 3}

In [55]:
s1 | s2

{1, 2, 3, 4}

In [56]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [57]:
s1-s2

{1}

In [59]:
s1,s2

({1, 2, 3}, {2, 3, 4})

In [60]:
s2-s1

{4}

In [61]:
s3=s1|s2

In [62]:
s3

{1, 2, 3, 4}

In [63]:
s1-s3

set()

In [64]:
txt1='The quick brown Fox jumps over the lazy Dog'

In [65]:
txt2='Big Bang Theory'

In [75]:
s=[]
for i in txt1:
    for j in txt2:
        if i==j:
            s.append(j)

In [76]:
len(s)

34

In [77]:
s

['T',
 'h',
 'e',
 ' ',
 ' ',
 'i',
 ' ',
 ' ',
 'r',
 'o',
 'n',
 ' ',
 ' ',
 'o',
 ' ',
 ' ',
 ' ',
 ' ',
 'o',
 'e',
 'r',
 ' ',
 ' ',
 'h',
 'e',
 ' ',
 ' ',
 'a',
 'y',
 ' ',
 ' ',
 'o',
 'g',
 'g']

In [82]:
set1=set(txt1)
set2=set(txt2)

In [83]:
set1&set2

{' ', 'T', 'a', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 'y'}

In [84]:
set1

{' ',
 'D',
 'F',
 'T',
 'a',
 'b',
 'c',
 'e',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [85]:
rs={0,1,';ghu','!','Phoebe','qwertyu','1a4s7',11}

In [90]:
rs

{'!', 0, 1, 11, '1a4s7', ';ghu', 'Phoebe', 'qwertyu'}

# List comprehensions

In [91]:
lst=list(range(10))

In [97]:
lst=list(range(0,21,2))
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [100]:
l=[]
for i in range(20):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [104]:
fruits=['apple','pineapple','pear','mango']

In [105]:
[i for i in fruits]

['apple', 'pineapple', 'pear', 'mango']

In [106]:
l=[]
for i in fruits:
    if 'e' in i:
        l.append(i)
        
l

['apple', 'pineapple', 'pear']

In [110]:
[i for i in fruits if 'e' in i]

['apple', 'pineapple', 'pear']

In [111]:
[i[-1] for i in fruits if 'e' in i]

['e', 'e', 'r']

In [112]:
lst_lst=[['cherry','watermelon'],['wolf','lion','roo'],[0,1,2,3,4,5]]

In [122]:
l=[]
for i in lst_lst:
    for j in i:
        l.append(j)

In [123]:
l

['cherry', 'watermelon', 'wolf', 'lion', 'roo', 0, 1, 2, 3, 4, 5]

In [127]:
[q for p in lst_lst for q in p]

['cherry', 'watermelon', 'wolf', 'lion', 'roo', 0, 1, 2, 3, 4, 5]

Create a list out of *lst_lst* where berries remain the same, animal is chosen randomly and all the numbers are squared.

In [140]:
import random
l=[]
for i in lst_lst:
    if len(i)==2:
        for j in i:
            l.append(j)
    elif len(i)==3:
        l.append(random.choice(i))
    else:    
        for j in i:
            l.append(j**2)
            
l

['cherry', 'watermelon', 'lion', 0, 1, 4, 9, 16, 25]

In [143]:
[j if len(i)==2 else random.choice(i) if len(i)==3 else j**2 for i in lst_lst for j in i]

['cherry', 'watermelon', 'lion', 'lion', 'lion', 0, 1, 4, 9, 16, 25]

In [145]:
lst_lst=[[1,2,3],[1,2,3,4],['yes','no']]

if list contains 3 elements - add 1, if list contains 4 elements - square them, else - leave as it is

In [146]:
l=[]
for i in lst_lst:
    ll=len(i)
    if ll==3:
        for j in i:
            l.append(j+1)
    elif len(i)==4:
        for j in i:
            l.append(j**2)
    else:
        for j in i:
            l.append(j)

In [147]:
l

[2, 3, 4, 1, 4, 9, 16, 'yes', 'no']

In [148]:
[j+1 if len(i)==3 else j**2 if len(i)==4 else j for i in lst_lst for j in i]

[2, 3, 4, 1, 4, 9, 16, 'yes', 'no']

In [149]:
l=[]
for i in lst_lst:
    for j in i:
        if len(i)==3:
            l.append(j+1)
        elif len(i)==4:
            l.append(j**2)
        else:
            l.append(j)

In [150]:
l

[2, 3, 4, 1, 4, 9, 16, 'yes', 'no']

In [156]:
lst=[j for i in lst_lst for j in i]
lst

[1, 2, 3, 1, 2, 3, 4, 'yes', 'no']

In [158]:
s={j for i in lst_lst for j in i }
s

{1, 2, 3, 4, 'no', 'yes'}

In [163]:
{i:str(round(lst.count(i)/len(lst),2))+'%' for i in set(lst)}

{1: '0.22%', 2: '0.22%', 3: '0.22%', 4: '0.11%', 'no': '0.11%', 'yes': '0.11%'}

In [164]:
{i:lst.count(i) for i in set(lst)}

{1: 2, 2: 2, 3: 2, 4: 1, 'no': 1, 'yes': 1}

In [170]:
path='C:\\Users\\eldiy\\Documents\\Ironhack\\Slides\\vehicles\\vehicles'
path

'C:\\Users\\eldiy\\Documents\\Ironhack\\Slides\\vehicles\\vehicles'

In [166]:
import os
import pandas as pd

In [171]:
for i in os.listdir(path):
    print(i)

.DS_Store
new_excel.xlsx
new_json.json
new_vehicles.csv
new_vehicles.txt
vehicles.csv
vehicles.json
vehicles.xlsx
vehicles_messy.csv
vehicles_messy.csv.zip
vehicles_pipe.txt
vehicles_tab.txt

In [172]:
[filename for filename in os.listdir(path) if '.csv' in filename]

['new_vehicles.csv',
 'vehicles.csv',
 'vehicles_messy.csv',
 'vehicles_messy.csv.zip']

In [175]:
list_of_files=[filename for filename in os.listdir(path) if filename.endswith('csv')&filename.startswith('v')]

In [180]:
path+'\\'+list_of_files[0]

'C:\\Users\\eldiy\\Documents\\Ironhack\\Slides\\vehicles\\vehicles\\vehicles.csv'

In [176]:
datasets=[pd.read_csv(path+'\\'+i) for i in list_of_files]

C:\Users\eldiy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [184]:
datasets[1];

In [182]:
data=pd.concat(datasets,axis=0)

C:\Users\eldiy\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [185]:
data;